@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@theme {
  --font-display: var(--font-open-sans), sans-serif;
  --font-sans: var(--font-open-sans), sans-serif;
}

.me-card {
  @apply m-0 mb-4 flex w-full flex-col rounded-4xl bg-white dark:bg-zinc-900;
}

.me-hover {
  @apply hover:bg-primary-content hover:text-primary rounded-sm px-0.5 py-0 transition-all duration-100 ease-in-out;
}
.me-prose {
  @apply prose prose-base prose-img:rounded-lg dark:prose-invert prose-ul:m-0 prose-li:m-0 prose-li:mb-1 prose-ul:mt-2 prose-headings:mb-4 prose-h2:mt-12 prose-headings:text-primary max-w-none p-0 px-16 pt-8 pb-16;
}

.me-list {
  @apply m-0 mb-0 flex flex-col px-0 pl-0;
}

.menu {
  --menu-active-bg: var(--color-primary);
  --menu-active-text: var(--color-primary-content);
}

html {
  @apply bg-gray-100 dark:bg-zinc-950;
  /* scrollbar-gutter: stable; */
  overflow-y: scroll;

  /* transparent scrollbar bg*/
  scrollbar-color: var(--color-primary) var(--color-zinc-950);

  /* no overscroll */
  overscroll-behavior: none;
}
