@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@theme {
  --font-display: var(--font-open-sans), sans-serif;
  --font-sans: var(--font-open-sans), sans-serif;
}

@layer components {
  .me-card {
    @apply mb-4 flex w-full flex-col items-center gap-4 rounded-4xl bg-white p-4 dark:bg-zinc-900;
  }
}

.menu {
  --menu-active-bg: var(--color-primary);
  --menu-active-text: var(--color-primary-content);
}

html {
  @apply bg-gray-100 dark:bg-zinc-950;
  /* scrollbar-gutter: stable; */
  overflow-y: scroll;

  /* transparent scrollbar bg*/
  scrollbar-color: var(--color-primary) var(--color-zinc-950);
}
